.app {
    display: flex;
}

.app div:first-child {
    min-width: 568px;
    max-width: 568px;
}

.app div:last-child {
    flex: 1;
}

.app__section {
    padding: 20px;
}

.timestamp {
    font-size: 0.8em;
    font-weight: bold;
}